*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f2f2f2;
    color: #111;
}
header{
    width: 100%;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #000;
    background: #fff;
}
header h2{
    margin-bottom: 10px;
    font-size: 16px;
}
nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 15px;
}
nav a:hover{
    color: red;
}
#home{
    padding: 40px 20px;
    text-align: center;
}
#home h1{
    font-size: 30px;
    margin-bottom: 10px;
}
#home p{
    font-size: 16px;
    margin-bottom: 20px;
}
.foto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #000;
    object-fit: cover;
    margin-bottom: 25px;
}
#home h2{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.projetos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: auto;
}
.card{
    border: 2px solid #000;
    padding: 15px;
    background: #fff;
    text-align: center;
}
.card img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border: 1px solid #000;
    margin-bottom: 10px;
}
.card p{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card a{
    display: inline-block;
    padding: 5px 10px;
    background: #e1e1e1;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
}
.card a:hover{
    background: #ccc;
}

#sobre{
    padding: 40px 20px;
    text-align: center;
}
#sobre h2{
    font-size: 22px;
    margin: 20px 0;
}
#sobre p{
    max-width: 700px;
    margin: auto;
    font-size: 16px;
}
#contato{
    padding: 40px 20px;
    text-align: center;
}
#contato h2{
    font-size: 22px;
    margin-bottom: 20px;
}
form{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 2px solid #000;
    background: #fff;
}
label{
    text-align: left;
    font-size: 14px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    background: #f7f7f7;
    font-size: 14px;
}
button{
    padding: 10px;
    border: 1px solid #000;
    background: #00bfe6;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
button:hover{
    background: #0095b8;
}
footer{
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #000;
    background: #fff;
}
footer p{
    margin: 5px 0;
}
footer a{
    text-decoration: none;
    color: #000;
}
footer a:hover{
    color: red;
}
@media (max-width: 600px){
     nav{
        flex-direction: column;
        gap: 10px;
    }

    .projetos{
        grid-template-columns: 1fr;
    }

    .foto{
        width: 120px;
        height: 120px;
    }

    form{
        width: 90%;
    }
}